.chart-container {
  height: 32rem;
  width: 80cqw;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 700px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid color(srgb 0.8313 0.8314 0.8315);
  border-radius: 1rem;
}

.chart-title {
  font-family: roboto;
  margin-bottom: 1rem;
}

.control-panel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    z-index: 10;
    width: 100%;
}