.dropdown-container {
    margin: 1em;
}

.settings-menu {
    position: relative;
    padding: 0 0.5em;
    background-color: var(--md-sys-color-on-primary);
    border: 1px solid var(--md-sys-color-primary);
    border-radius: 0.5rem;
    width: 12rem;
    z-index: 2;
}

.settings-menu:has(.settings-submenu.open) {
    z-index: 10;
}

.settings-menu li {
    list-style: none;
    display: flex;
}

p {
    margin: 0.5em 0;
}

.settings-menu img.down {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

li.settings-menu-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    /* Elemente links und rechts verteilen */
    align-items: center;
}

.settings-submenu li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.2em 0.3em 0.2em;
    color: var(--md-sys-color-primary);
    border-radius: 0.5rem;
    transition: background-color .2s ease;
}

h4 {
    margin: 0;
    font-weight: 500;
}

.settings-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--md-sys-color-on-primary);
    border: 1px solid var(--md-sys-color-primary);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.7rem;
    font-weight: 300;
    min-width: 100%;
    box-sizing: border-box;
}

.settings-submenu.open {
    display: block;
    pointer-events: all;
    z-index: 1;
}

.settings-submenu.open li:hover {
    background-color: var(--md-sys-color-primary-container);
}

.settings-menu li:hover .settings-submenu {
    display: block;
}