<div class="title-and-progress">
    <h1 class="page-title">Setup – File Upload</h1>
    <div class="progress-percentage">
        <span class="progress-percentage-value">{{ uploadProgress }}% </span>
        <span class="progress-percentage-text">complete</span>
    </div>
</div>
<div class="setup-container" style="display: flex; height: 100%;">

    <nav class="step-nav">
        <ul class="upload-step-ul" style="list-style: none; padding: 0;">
            <ng-container *ngFor="let step of uploadSteps; let i = index">
                <li (click)="selectStep(i)" [class.active]="activeStep === i && !step.fileLoaded()"
                    [class.green-active]="step.fileLoaded() && activeStep === i"
                    [class.upload-success]="step.fileLoaded()">

          <span class="circle" [class.active]="activeStep === i && !step.fileLoaded()"
                [class.upload-success]="step.fileLoaded()" [class.green-active]="step.fileLoaded() && activeStep === i">
            <span *ngIf="step.fileLoaded(); else showNum">✓</span>
            <ng-template #showNum>{{ i + 1 }}</ng-template>
          </span>
                    {{ step.title }}
                </li>
                <div *ngIf="i !== 3" class="bar"></div>
            </ng-container>

        </ul>

    </nav>
    <!-- Upload Container: je nach aktivem Schritt wird genau eine Komponente angezeigt -->
    <div class="upload-card-slider">

        <div class="slider-item" #sliderItem *ngFor="let step of uploadSteps; let i = index">
            <app-file-upload [processFileType]="step.type" [num]="i + 1" [stepTitle]="step.title"
                             [subtitle]="step.subtitle"
                             [dependenciesLoaded]="step.dependsOn ? filesStatus[step.dependsOn] : true"
                             [triggerReload]="step.dependsOn ? triggerReload : null"
                             (uploadSuccess)="onFileLoadedSuccess(step.type)">
            </app-file-upload>
        </div>

        <button id="next" [hidden]="activeStep === 3" (click)="nextStep()"> <span class="material-symbols-outlined">
        chevron_right
        </span></button>
            <button id="prev" [hidden]="activeStep === 0" (click)="prevStep()">
        <span class="material-symbols-outlined">
        chevron_left
        </span></button>
        <button id="process-btn" *ngIf="activeStep === 3"
                [class.ready]="uploadProgress === 100 && !isFinished"
                [class.finished]="isFinished"
                [disabled]="uploadProgress < 100 || isProcessingAll"
                (click)="processFiles()">
            {{ isProcessingAll ? 'Processing...' : (isFinished ? 'Finished!' : 'Process Files') }}
        </button>
    </div>
</div>

