.tooltip {
    position: absolute;
    background-color: var(--md-sys-color-on-primary);
    color: var(--md-sys-color-on-primary-container);
    border: 1px solid var(--md-sys-color-outline);
    box-shadow: 0 4px 16px var(--shadow-header);
    padding: 0.6rem 1rem;
    border-radius: 0.75rem;
    z-index: 1000;
    width: 20rem;
    word-wrap: break-word;
    white-space: nowrap;
}

.go-graph-tooltip {
    top: 8rem;
    right: 1.5rem;
}

.tooltip:not(.go-graph-tooltip) {
    top: 2rem;
    right: 0;
}

.tooltip-text {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    font-weight: 300;
    font-size: var(--font-small);
}

::ng-deep .highlight {
    color: var(--md-sys-color-secondary);
}
