.chart-container {
  height: 32rem;
  width: var(--container-width);
  min-width: var(--container-min-width);
  max-width: var(--container-max-width);
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 1rem;
  background-color: var(--md-sys-color-on-primary);
  contain: layout style;
}


.container-body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

.container-body::-webkit-scrollbar {
  height: 6px;
}

.container-body::-webkit-scrollbar-track {
  background: var(--md-sys-color-primary-container);
  border-radius: 3px;
}

.container-body::-webkit-scrollbar-thumb {
  background: var(--md-sys-color-outline);
  border-radius: 3px;
}

.container-body::-webkit-scrollbar-thumb:hover {
  background: var(--md-sys-color-primary);
}

.chartDiv {
  height: 100%;
  cursor: pointer;
}
