:host {
  display: block;
  width: 100%;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

.chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.container-body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

.container-body::-webkit-scrollbar {
  height: 6px;
}

.container-body::-webkit-scrollbar-track {
  background: var(--md-sys-color-primary-container);
  border-radius: 3px;
}

.container-body::-webkit-scrollbar-thumb {
  background: var(--md-sys-color-outline);
  border-radius: 3px;
}

.container-body::-webkit-scrollbar-thumb:hover {
  background: var(--md-sys-color-primary);
}

.chartDiv {
  height: 100%;
  cursor: pointer;
}
