<div class="page-header">
    <h1 class="page-title">Files</h1>
</div>

<div class="file-container">
    <div class="files-settings">
        <nav class="step-nav">
            <ul class="upload-step-ul">
                @for (step of uploadSteps; track step.type; let i = $index) {
                    <li (click)="selectStep(i)" [class.active]="activeStep() === i && !step.fileLoaded()"
                        [class.green-active]="step.fileLoaded() && activeStep() === i"
                        [class.upload-success]="step.fileLoaded()">
                        <span class="circle" [class.active]="activeStep() === i && !step.fileLoaded()"
                              [class.upload-success]="step.fileLoaded()" [class.green-active]="step.fileLoaded() && activeStep() === i">
                            @if (step.fileLoaded()) { ✓ } @else { {{ i + 1 }} }
                        </span>
                        {{ step.title }}
                    </li>
                    @if (i !== uploadSteps.length - 1) {
                        <div class="bar"></div>
                    }
                }
            </ul>
        </nav>

        <div class="upload-card-slider">
            @for (step of uploadSteps; track step.type; let i = $index) {
                <div class="slider-item" #sliderItem>
                    <app-file-upload [processFileType]="step.type" [num]="i + 1" [stepTitle]="step.title"
                                     [subtitle]="step.subtitle"
                                     [dependenciesLoaded]="step.dependsOn ? filesStatus()[step.dependsOn] : true"
                                     [triggerReload]="step.dependsOn ? triggerReload() : null"
                                     (uploadSuccess)="onFileLoadedSuccess(step.type)" />
                </div>
            }

            <button id="next" [hidden]="activeStep() === uploadSteps.length - 1" (click)="nextStep()">
                <span class="material-symbols-outlined">chevron_right</span>
            </button>
            <button id="prev" [hidden]="activeStep() === 0" (click)="prevStep()">
                <span class="material-symbols-outlined">chevron_left</span>
            </button>
        </div>

        <div class="action-button-container" [class.disabled-state]="!allFilesLoaded()">
            <mat-divider class="horizontal" />
            <button class="button" [disabled]="!allFilesLoaded()" (click)="processFiles()">
                {{ isProcessingAll() ? 'Processing...' : (isFinished() ? 'Finished!' : 'Process Files') }}
            </button>
            <mat-divider class="horizontal" />
        </div>
    </div>
</div>

