.results-table {
    max-height: 35rem;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    table-layout: auto !important;

}

.mat-mdc-row:nth-child(4n),
.mat-mdc-row:nth-child(4n+1) {
    background-color: var(--md-sys-color-surface);
}

.mat-mdc-row:nth-child(4n):hover{
    background-color: var(--theme-primary-hover-bg);
}

.mat-mdc-row:nth-child(4n+2),
.mat-mdc-row:nth-child(4n+3) {
    background-color: var(--md-sys-color-surface-variant);
}

.mat-mdc-row:nth-child(4n+2):hover{
    background-color: var(--table-row-alt-hover);
}


:host ::ng-deep .mat-mdc-paginator .mat-mdc-select {
    width: 2.1rem !important;

}

::ng-deep .mat-mdc-paginator-page-size {
    align-items: center !important;
}

:host ::ng-deep .mat-mdc-paginator .mat-mdc-select .mat-mdc-select-trigger {
    width: 3.5rem !important;
}

:host ::ng-deep .mat-mdc-select-value {
    padding: 0 0.5rem 0 !important;
}

.table-container {
    width: 80cqw;
    min-width: 700px;
    max-width: 1400px;
    table-layout: auto;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--md-sys-color-surface);
    box-shadow: 0 0.13rem 0.3rem var(--shadow-header);
}

.results-table .mat-mdc-header-row,
.results-table .mat-mdc-row {
    width: 100%;

}

.results-table .mat-mdc-header-row {
    position: sticky;
    top: 0 !important;
    z-index: 100;
    background-color: var(--table-header-bg) !important;
}

.table-container h3 {
    margin: 0 0 1rem 0;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: inherit;
    border-bottom: 0;

}

.results-table .mat-column-term_label {
    flex: 4;
}

.results-table .mat-column-term_id {
    flex: 2;
}

.results-table .mat-column-nt,
.results-table .mat-column-mt,
.results-table .mat-column-aspect {
    flex: 1;
    justify-content: left;
    padding: 0.5rem;
}

.results-table .mat-column-expand {
    flex: 0.5;
    justify-content: center;
}

.results-table .mat-mdc-cell,
.results-table .mat-mdc-header-cell {
    padding: 0 1rem;
}

.results-table .mat-column-adj_pval,
.results-table .mat-column-p_val {
    flex: 1.5;
    justify-content: left;
    padding: 0.5rem;
}

:host ::ng-deep .significant-pval {
    background-color: rgba(0, 200, 0, 0.15);
    border-radius: 4px;
    padding: 0.3rem 0.2rem;
    border: 0.12em solid color(srgb 0.6873 0.86 0.6708)
}

h3 {
    font-weight: 500;
}

::ng-deep .mat-mdc-select-panel {
    background-color: var(--md-sys-color-surface) !important;
}

::ng-deep .mdc-notched-outline {
    display: none !important;
}

/* Search bar: */
::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix,
::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding: 0 !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 2rem !important;
}

::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    align-content: center !important;
}

::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    align-items: center !important;
    align-content: center !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
    display: none !important;
}

.element-row {
    cursor: pointer;
}

.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.element-detail-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    grid-template-columns: 100%;
}

.element-detail-wrapper-expanded {
    grid-template-rows: 1fr;
    padding: 1rem 0;
}

.detail-row {
    min-height: 0;
    height: auto;
    padding: 0;
}

.material-symbols-outlined.expanded {
    transform: scaleY(-1);
    transition: all 0.3s ease;
}

.material-symbols-outlined {
    transition: all 0.3s ease;
}

.gene-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}