div.go-graph-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: var(--container-width);
    min-width: var(--container-min-width);
    max-width: var(--container-max-width);
    border-radius: 1rem;
    height: 50cqw;
    border: 1px solid var(--md-sys-color-outline);
    background-color: var(--md-sys-color-on-primary);
    padding: 1.5rem;
    gap: 1rem;
    max-height: 800px;
    box-sizing: border-box;
    contain: layout style;
}


.graphviz-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    flex: 1;
    border: 1px solid var(--md-sys-color-outline);
    box-shadow: 0 0.13rem 0.3rem var(--shadow-header);
    background-color: transparent;
    border-radius: 1rem;
    cursor: pointer;
    max-height: 40cqw;
    max-width: 100%;
}

.graphviz-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.graphviz-container::-webkit-scrollbar-track {
    background: var(--md-sys-color-primary-container);
    border-radius: 3px;
}

.graphviz-container::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-outline);
    border-radius: 3px;
}

.graphviz-container::-webkit-scrollbar-thumb:hover {
    background: var(--md-sys-color-primary);
}


g.node polygon,
g.node ellipse,
g.node rect {
    pointer-events: all;
    cursor: pointer;
}


.hover-node-tooltip {
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0.5;
    font-size: 12px;
}

