<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="file-upload-card">
    <div class="wrapper">
        <div class="step">
            <div style="display: flex; justify-content: space-between;">
                <p>Step {{num}}/4</p>
                <div class="help-icon" (mouseover)="showTooltip = true" (mouseout)="showTooltip = false">?</div>
            </div>
            <div class="step-title">{{stepTitle}}</div>
        </div>
        <mat-divider class="horizontal"></mat-divider>

        <div class="upload-form" (click)="openFileDialog()" [class.disabled]="!dependenciesLoaded">
            <i class="fas fa-cloud-upload-alt"></i>
            <p> {{label}}</p>
        </div>
        <p class="subtitle">{{ subtitle }}</p>
        <div class="progress" *ngIf="fileLoading">
            <span class="loading-text">Loading {{processFileType}} file...</span>

        </div>

        <section *ngIf="fileLoaded && !fileLoading" class="uploaded-area">
            <li class="row">
                <div class="content">
                    <i class="fas fa-file-alt"></i>
                    <div class="details">
                        <span class="name">{{fileName}}</span>
                    </div>
                </div>
                <i class="fas fa-check"></i>
            </li>
        </section>

        <button *ngIf="fileLoaded && !fileLoading" class="stats-button" (click)="showStats = !showStats"
            [disabled]="!dependenciesLoaded">
            <span class="show-stats-title">{{ showStats ? 'Hide Stats' : 'Show Stats' }}</span>
            <span class="material-symbols-outlined icon" [class.hide-stats]="showStats">
                expand_circle_right
            </span>

        </button>

    </div>
    <app-tooltip *ngIf="showTooltip" [type]="processFileType"></app-tooltip>

    <!-- Table to display file statistics after upload -->
    <div *ngIf="showStats && fileStats.length > 0" class="stats-table-wrapper">
        <div class="stats-table-overflow">
            <table mat-table [dataSource]="fileStats" class="stats-table">
                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef> Info </th>
                    <td mat-cell *matCellDef="let element"> {{ element.key }} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Value </th>
                    <td mat-cell *matCellDef="let element"> {{ element.value }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['key', 'value']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['key', 'value']"></tr>
            </table>
        </div>
    </div>

</div>